## Import and analyse dataset

In [1]:
import pandas as pd
import numpy as np
import sklearn

In [2]:
train = pd.read_csv(r'C:\Users\jlod9\OneDrive\Desktop\AI__Projects\Machine_Learning\Projects\train.csv')

In [3]:
test = pd.read_csv(r'C:\Users\jlod9\OneDrive\Desktop\AI__Projects\Machine_Learning\Projects\test.csv')

In [4]:
train.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [5]:
train.shape

(4209, 378)

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 378 entries, ID to X385
dtypes: float64(1), int64(369), object(8)
memory usage: 12.1+ MB

In [7]:
test.head()

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,az,v,n,f,d,t,a,w,0,...,0,0,0,1,0,0,0,0,0,0
1,2,t,b,ai,a,d,b,g,y,0,...,0,0,1,0,0,0,0,0,0,0
2,3,az,v,as,f,d,a,j,j,0,...,0,0,0,1,0,0,0,0,0,0
3,4,az,l,n,f,d,z,l,n,0,...,0,0,0,1,0,0,0,0,0,0
4,5,w,s,as,c,d,y,i,m,0,...,1,0,0,0,0,0,0,0,0,0

In [8]:
test.shape

(4209, 377)

In [9]:
test.info()                       #       check distribution of variables

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 377 entries, ID to X385
dtypes: int64(369), object(8)
memory usage: 12.1+ MB

## If for any column(s), the variance is equal to zero, then you need to remove those variable(s).

In [10]:
for col in train.columns:
    if train[col].nunique() == 1:      
            train.drop(col, inplace=True, axis=1)
            test.drop(col, inplace=True, axis=1)

In [11]:
train.shape        # 12 columns removed

(4209, 366)

In [12]:
test.shape

(4209, 365)

In [13]:
# we also drop id
train = train.drop('ID', axis=1)
test = test.drop('ID', axis=1)

## Check for null and unique values for test and train sets.

In [14]:
null_columns=train.columns[train.isnull().any()]          # check for null values for train
train[null_columns].isnull().sum()

Series([], dtype: float64)

No null values

In [15]:
null_columns=test.columns[test.isnull().any()]          # check for null values for test
test[null_columns].isnull().sum()

Series([], dtype: float64)

No null values

In [16]:
train.nunique().values                  # check for unique values for train

array([2545,   47,   27,   44,    7,    4,   29,   12,   25,    2,    2,
          2,    2,    2,    2,    2,    2,    2,    2,    2,    2,    2,
          2,    2,    2,    2,    2,    2,    2,    2,    2,    2,    2,
          2,    2,    2,    2,    2,    2,    2,    2,    2,    2,    2,
          2,    2,    2,    2,    2,    2,    2,    2,    2,    2,    2,
          2,    2,    2,    2,    2,    2,    2,    2,    2,    2,    2,
          2,    2,    2,    2,    2,    2,    2,    2,    2,    2,    2,
          2,    2,    2,    2,    2,    2,    2,    2,    2,    2,    2,
          2,    2,    2,    2,    2,    2,    2,    2,    2,    2,    2,
          2,    2,    2,    2,    2,    2,    2,    2,    2,    2,    2,
          2,    2,    2,    2,    2,    2,    2,    2,    2,    2,    2,
          2,    2,    2,    2,    2,    2,    2,    2,    2,    2,    2,
          2,    2,    2,    2,    2,    2,    2,    2,    2,    2,    2,
          2,    2,    2,    2,    2,    2,    2,    2,    2,    2,    2,
          2,    2,    2,    2,    2,    2,    2,    2,    2,    2,    2,
          2,    2,    2,    2,    2,    2,    2,    2,    2,    2,    2,
          2,    2,    2,    2,    2,    2,    2,    2,    2,    2,    2,
          2,    2,    2,    2,    2,    2,    2,    2,    2,    2,    2,
          2,    2,    2,    2,    2,    2,    2,    2,    2,    2,    2,
          2,    2,    2,    2,    2,    2,    2,    2,    2,    2,    2,
          2,    2,    2,    2,    2,    2,    2,    2,    2,    2,    2,
          2,    2,    2,    2,    2,    2,    2,    2,    2,    2,    2,
          2,    2,    2,    2,    2,    2,    2,    2,    2,    2,    2,
          2,    2,    2,    2,    2,    2,    2,    2,    2,    2,    2,
          2,    2,    2,    2,    2,    2,    2,    2,    2,    2,    2,
          2,    2,    2,    2,    2,    2,    2,    2,    2,    2,    2,
          2,    2,    2,    2,    2,    2,    2,    2,    2,    2,    2,
          2,    2,    2,    2,    2,    2,    2,    2,    2,    2,    2,
          2,    2,    2,    2,    2,    2,    2,    2,    2,    2,    2,
          2,    2,    2,    2,    2,    2,    2,    2,    2,    2,    2,
          2,    2,    2,    2,    2,    2,    2,    2,    2,    2,    2,
          2,    2,    2,    2,    2,    2,    2,    2,    2,    2,    2,
          2,    2,    2,    2,    2,    2,    2,    2,    2,    2,    2,
          2,    2], dtype=int64)

-- No unique values, all have at least 2 distinct values

In [17]:
test.nunique().values                  # check for unique values for train

array([49, 27, 45,  7,  4, 32, 12, 25,  2,  2,  2,  2,  2,  2,  2,  2,  2,
        2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,
        2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,
        2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,
        2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,
        2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,
        2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,
        2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,
        2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,
        2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,
        2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,
        2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,
        2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,
        2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,
        2,  2,  2,  2,  2,  2,  1,  1,  2,  2,  2,  2,  2,  2,  2,  2,  2,
        2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,
        2,  2,  2,  2,  2,  2,  1,  1,  2,  2,  2,  2,  2,  2,  2,  2,  2,
        2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,
        2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,
        2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,
        2,  2,  2,  2,  2,  2,  2,  2,  1,  2,  2,  2,  2,  2,  2,  2,  2,
        2,  2,  2,  2,  2,  2,  2], dtype=int64)

-- No unique values, all have at least 2 distinct values

## Apply label encoder.

In [18]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [19]:
train['X0'] = train['X0'].astype('category')
train['X1'] = train['X1'].astype('category')
train['X2'] = train['X2'].astype('category')
train['X3'] = train['X3'].astype('category')
train['X4'] = train['X4'].astype('category')
train['X5'] = train['X5'].astype('category')
train['X6'] = train['X6'].astype('category')
train['X8'] = train['X8'].astype('category')

In [20]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 365 entries, y to X385
dtypes: category(8), float64(1), int64(356)
memory usage: 11.5 MB

In [21]:
train_cat = train.select_dtypes(include=['category'])

In [22]:
train_cat.head()

   X0 X1  X2 X3 X4 X5 X6 X8
0   k  v  at  a  d  u  j  o
1   k  t  av  e  d  y  l  o
2  az  w   n  c  d  x  j  x
3  az  t   n  f  d  x  l  e
4  az  v   n  f  d  h  d  n

In [23]:
train_le = train_cat.apply(le.fit_transform)

In [24]:
train_le.head()

   X0  X1  X2  X3  X4  X5  X6  X8
0  32  23  17   0   3  24   9  14
1  32  21  19   4   3  28  11  14
2  20  24  34   2   3  27   9  23
3  20  21  34   5   3  27  11   4
4  20  23  34   5   3  12   3  13

## Perform dimensionality reduction.

In [25]:
### numerical
train_num = train.select_dtypes(include="int64")

In [26]:
###  we use minmax scaler for numerical values
from sklearn.preprocessing import MinMaxScaler
mn = MinMaxScaler()

In [27]:
train_sc = mn.fit_transform(train_le)
train_sc_df = pd.DataFrame(train_sc, index=train_cat.index, columns=train_cat.columns)
train_sc_df.head(10)

         X0        X1        X2        X3   X4        X5        X6        X8
0  0.695652  0.884615  0.395349  0.000000  1.0  0.857143  0.818182  0.583333
1  0.695652  0.807692  0.441860  0.666667  1.0  1.000000  1.000000  0.583333
2  0.434783  0.923077  0.790698  0.333333  1.0  0.964286  0.818182  0.958333
3  0.434783  0.807692  0.790698  0.833333  1.0  0.964286  1.000000  0.166667
4  0.434783  0.884615  0.790698  0.833333  1.0  0.428571  0.272727  0.541667
5  0.869565  0.115385  0.581395  0.333333  1.0  0.392857  0.636364  0.750000
6  0.195652  0.730769  0.581395  0.833333  1.0  0.357143  0.636364  0.750000
7  0.782609  0.500000  0.372093  0.833333  1.0  0.357143  0.818182  0.000000
8  0.934783  0.769231  0.372093  0.666667  1.0  0.357143  0.727273  0.291667
9  0.673913  0.115385  0.325581  0.333333  1.0  0.357143  0.000000  0.166667

In [28]:
## concatonate the x training data back together
x_train = pd.concat([train_sc_df, train_num],axis=1)
x_train

,X0,X1,X2,X3,X4,X5,X6,X8,X10,X12,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0.695652,0.884615,0.395349,0.000000,1.0,0.857143,0.818182,0.583333,0,0,...,0,0,1,0,0,0,0,0,0,0
1,0.695652,0.807692,0.441860,0.666667,1.0,1.000000,1.000000,0.583333,0,0,...,1,0,0,0,0,0,0,0,0,0
2,0.434783,0.923077,0.790698,0.333333,1.0,0.964286,0.818182,0.958333,0,0,...,0,0,0,0,0,0,1,0,0,0
3,0.434783,0.807692,0.790698,0.833333,1.0,0.964286,1.000000,0.166667,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0.434783,0.884615,0.790698,0.833333,1.0,0.428571,0.272727,0.541667,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,0.173913,0.769231,0.372093,0.333333,1.0,0.000000,0.272727,0.666667,0,0,...,1,0,0,0,0,0,0,0,0,0
4205,0.673913,0.615385,0.930233,0.500000,1.0,0.000000,0.636364,0.291667,0,0,...,0,1,0,0,0,0,0,0,0,0
4206,0.173913,0.884615,0.883721,0.000000,1.0,0.000000,0.545455,0.166667,0,1,...,0,0,1,0,0,0,0,0,0,0
4207,0.195652,0.730769,0.581395,0.833333,1.0,0.000000,1.000000,0.833333,0,0,...,0,0,0,0,0,0,0,0,0,0
4208,1.000000,0.730769,0.069767,0.333333,1.0,0.000000,0.545455,0.916667,0,0,...,1,0,0,0,0,0,0,0,0,0

In [29]:
from sklearn.decomposition import PCA

In [30]:
# perform pca on x_train

In [31]:
pca = PCA(0.95)

In [32]:
pca.fit(x_train)

PCA(copy=True, iterated_power='auto', n_components=0.95, random_state=None,
    svd_solver='auto', tol=0.0, whiten=False)

In [33]:
x_train_pca = pca.transform(x_train)

In [34]:
pca.explained_variance_ratio_

array([0.12971609, 0.08752198, 0.08518613, 0.06747936, 0.05637602,
       0.04695891, 0.03763481, 0.03240439, 0.0277885 , 0.02474944,
       0.02309335, 0.019499  , 0.01695621, 0.01628515, 0.01522578,
       0.01464508, 0.01375481, 0.01211626, 0.01030365, 0.01012051,
       0.00959583, 0.00888674, 0.00876302, 0.00834512, 0.00790975,
       0.00755243, 0.0072127 , 0.00647693, 0.00638372, 0.0057495 ,
       0.00527787, 0.00506331, 0.00475259, 0.00460551, 0.00437066,
       0.00423079, 0.00420284, 0.00403129, 0.00400921, 0.0038454 ,
       0.00359432, 0.00343719, 0.00342564, 0.00335641, 0.0033054 ,
       0.00314255, 0.00309907, 0.00297706, 0.00289158, 0.0028196 ,
       0.00270358, 0.00260119, 0.00257916, 0.00244181, 0.00236859,
       0.00234041, 0.0022658 , 0.0021305 , 0.0020916 , 0.00200343,
       0.00197906, 0.00194311, 0.00183772, 0.00178412, 0.0017257 ,
       0.00170344, 0.00165346, 0.00160384, 0.00159121, 0.00152272,
       0.00147502, 0.00142071, 0.0013887 , 0.00137817, 0.00134106,
       0.00130345])

In [35]:
pca.explained_variance_ratio_.sum()

0.9503070409802703

In [36]:
len(pca.explained_variance_ratio_)

76

 A total of 76 components are appropriate to capture 95% of variance in the data

## Predict your test_df values using XGBoost.

In [37]:
y_train = train['y']

In [38]:
from xgboost import XGBRegressor

### First, we do some hyperparameter tuning before we use the xgboost model to predict values

In [39]:
# fit model no training data
model = XGBRegressor(max_depth = 6, colsample_bytree = 0.7)
model.fit(x_train_pca, y_train)

C:\Users\jlod9\Anaconda3_64\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \
C:\Users\jlod9\Anaconda3_64\lib\site-packages\xgboost\core.py:588: FutureWarning: Series.base is deprecated and will be removed in a future version
  data.base is not None and isinstance(data, np.ndarray) \

[20:24:30] WARNING: src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.7, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=6, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [40]:
# slice of train
x_train1 = x_train.loc[200:300, :]

In [41]:
x_train_pca1 = pca.transform(x_train1)

In [42]:
y_pred1 = model.predict(x_train_pca1)

In [43]:
y1 = train['y'].loc[200:300]

In [44]:
from sklearn.metrics import r2_score, mean_squared_error
r2_score(y1, y_pred1, multioutput='variance_weighted')

0.8935633381164328

In [45]:
mean_squared_error(y1, y_pred1)

20.870499603975464

### Through trial an error we find these to be the best parameters, we now tune these parameters into the model and predict y values

### Now we convert the test dataset and try predict it's values

In [46]:
test['X0'] = test['X0'].astype('category')        
test['X1'] = test['X1'].astype('category')
test['X2'] = test['X2'].astype('category')
test['X3'] = test['X3'].astype('category')
test['X4'] = test['X4'].astype('category')
test['X5'] = test['X5'].astype('category')
test['X6'] = test['X6'].astype('category')
test['X8'] = test['X8'].astype('category')

In [47]:
test_cat = test.select_dtypes(include=['category'])

In [48]:
test_le = test_cat.apply(le.fit_transform)

In [49]:
test_num = test.select_dtypes(include="int64")

In [50]:
test_sc = mn.fit_transform(test_le)
test_sc_df = pd.DataFrame(test_sc, index=test_cat.index, columns=test_cat.columns)
test_sc_df.head(10)

         X0        X1        X2        X3   X4        X5        X6        X8
0  0.437500  0.884615  0.772727  0.833333  1.0  0.838710  0.000000  0.916667
1  0.875000  0.115385  0.181818  0.000000  1.0  0.290323  0.545455  1.000000
2  0.437500  0.884615  0.386364  0.833333  1.0  0.000000  0.818182  0.375000
3  0.437500  0.500000  0.772727  0.833333  1.0  1.000000  1.000000  0.541667
4  0.937500  0.769231  0.386364  0.333333  1.0  0.967742  0.727273  0.500000
5  0.979167  0.038462  0.181818  0.666667  1.0  0.935484  0.545455  0.750000
6  0.958333  0.115385  0.090909  0.500000  1.0  0.935484  0.272727  1.000000
7  0.604167  0.769231  0.090909  0.333333  1.0  0.451613  0.272727  0.000000
8  0.250000  0.500000  0.863636  0.333333  1.0  0.451613  0.818182  0.541667
9  0.791667  0.884615  0.386364  0.833333  1.0  0.419355  0.454545  0.875000

In [51]:
x_test = pd.concat([test_sc_df, test_num],axis=1)
x_test

,X0,X1,X2,X3,X4,X5,X6,X8,X10,X12,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0.437500,0.884615,0.772727,0.833333,1.0,0.838710,0.000000,0.916667,0,0,...,0,0,0,1,0,0,0,0,0,0
1,0.875000,0.115385,0.181818,0.000000,1.0,0.290323,0.545455,1.000000,0,0,...,0,0,1,0,0,0,0,0,0,0
2,0.437500,0.884615,0.386364,0.833333,1.0,0.000000,0.818182,0.375000,0,0,...,0,0,0,1,0,0,0,0,0,0
3,0.437500,0.500000,0.772727,0.833333,1.0,1.000000,1.000000,0.541667,0,0,...,0,0,0,1,0,0,0,0,0,0
4,0.937500,0.769231,0.386364,0.333333,1.0,0.967742,0.727273,0.500000,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,0.125000,0.346154,0.386364,0.833333,1.0,0.032258,0.818182,0.166667,0,0,...,0,0,0,0,0,0,0,0,0,0
4205,0.875000,0.038462,0.181818,0.500000,1.0,0.032258,0.818182,1.000000,0,0,...,0,1,0,0,0,0,0,0,0,0
4206,0.979167,0.884615,0.386364,0.833333,1.0,0.032258,0.272727,0.916667,0,0,...,0,0,0,0,0,0,0,0,0,0
4207,0.145833,0.884615,0.386364,0.000000,1.0,0.032258,0.181818,0.666667,0,0,...,0,0,1,0,0,0,0,0,0,0
4208,0.875000,0.038462,0.181818,0.333333,1.0,0.032258,0.545455,0.708333,0,0,...,1,0,0,0,0,0,0,0,0,0

In [52]:
x_test_pca = pca.transform(x_test)

In [53]:
y_pred = model.predict(x_test_pca)

In [54]:
test['prediction'] = y_pred

In [55]:
test

,X0,X1,X2,X3,X4,X5,X6,X8,X10,X12,...,X376,X377,X378,X379,X380,X382,X383,X384,X385,prediction
0,az,v,n,f,d,t,a,w,0,0,...,0,0,1,0,0,0,0,0,0,77.712982
1,t,b,ai,a,d,b,g,y,0,0,...,0,1,0,0,0,0,0,0,0,92.590431
2,az,v,as,f,d,a,j,j,0,0,...,0,0,1,0,0,0,0,0,0,76.001541
3,az,l,n,f,d,z,l,n,0,0,...,0,0,1,0,0,0,0,0,0,78.538780
4,w,s,as,c,d,y,i,m,0,0,...,0,0,0,0,0,0,0,0,0,112.236107
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,aj,h,as,f,d,aa,j,e,0,0,...,0,0,0,0,0,0,0,0,0,114.550606
4205,t,aa,ai,d,d,aa,j,y,0,0,...,1,0,0,0,0,0,0,0,0,101.183205
4206,y,v,as,f,d,aa,d,w,0,0,...,0,0,0,0,0,0,0,0,0,94.264748
4207,ak,v,as,a,d,aa,c,q,0,0,...,0,1,0,0,0,0,0,0,0,103.640610
4208,t,aa,ai,c,d,aa,g,r,0,0,...,0,0,0,0,0,0,0,0,0,90.511185